:root {
  --text-color: rgba(255, 255, 255, 0.8);
}

body {
  margin: 0;
  background-color: #191714;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
  font-size: 1.5rem;
  color: var(--text-color);
}

a {
  color: #99b4ff;
  text-decoration: none;
}

header, article {
  max-width: 40rem;
  margin: 0 auto;
  padding: 0 1rem;
}

h1 {
  color: rgba(255, 255, 255, 0.4);
}

h1 a {
  color: var(--text-color);
  display: block;
}

figure.painting {
  margin: 3rem 0;
}

figure.painting img {
  width: 100%;
  border-radius: 10px;
}

figure.painting figcaption {
  text-align: center;
}

figure.painting figcaption span.line {
  display: block;
}

#paintings a {
  color: var(--text-color);
}
